* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: aliceblue;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a:hover {
    color:#ff0000;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 10% 0;
}

.home-content {
    max-width: 45%;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 span{
    color:#ff0000;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: 0;

}

.home-content p{
    font-size: 20px;

}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid#ff0000;
    border-radius: 50%;
    font-size: 20px;
    color: #ff0000;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}


.home-sci a:hover { 
    background:#ff0000;
    color: #081b29;
    box-shadow: 0 0 20px #ff0000;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background:#ff0000;
    border-radius: 40px; font-size: 16px; color: #081b29; letter-spacing: 1px;
    text-decoration: none; font-weight: 600;
}

.btn-box:hover {
    box-shadow: 0 0 5px #ff0000,
    0 0 25px #ff0000,
    0 0 50px #ff0000,0 0 100px #ff0000,
    0 0 200px #ff0000
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;

}

.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color: #ff0000;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


@keyframes slideRight {
    0% { 
        transform: translateX(-100px);
        opacity: 0;
   
    }
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% { 
        transform: translateY(-100px);
        opacity: 0;
   
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
